@import url(http://fonts.googleapis.com/css?family=Roboto:100);
body, html{
	font-family: 'Roboto',	sans-serif;
	width: 100%;
	position: absolute;
	left:-4px;
	top: -4px;
	display: inline-block;
	color:#2C2C2C;
}
a {
	color: white;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}
.center{
	position: relative;
	margin: auto;
	text-align:center;
}
.taleft{
	text-align:left;
}
.drop{
	margin-top: 200px;
}
.lildrop{
	margin-top:100px;
	display: block;
}
.inset{
	box-shadow: inset 3px 4px 5px rgba(0,0,0,0.5);
}
.boxShadow{
	box-shadow: 3px 4px 5px rgba(0,0,0,0.3);
}
.shadow{
	text-shadow: 3px 4px 5px rgba(0,0,0,0.3);
}
.white{
	color:white;
}
h1{
	font-size:50px;
}
h2{
	font-size: 32px;
}
.colums{
}
.hspace{
	margin-left: 5%;
	margin-right: 5%;
}
.inline{
	display: inline-block;
}
.inline2{
	display: inline;
}
.middle {
	overflow: hidden;
	height: 0px;
	width: 100%;
	background: white;
}
end{
	width: 100%;
	display: block;
	height: 200px;
}
.flleft{
	display: inline;
	float: left;
}
.flright{
	display: inline;
	float: right;
}
.sexybg{
	background-image: url('http://html5up.net/uploads/demos/telephasic/css/images/header.svg'),
		-webkit-gradient(
		linear,
		left bottom,
		left bottom,
		color-stop(0.5, ##FF7088),
		color-stop(1, #F2B69D)
	);
	background-image: url('http://html5up.net/uploads/demos/telephasic/css/images/header.svg'),
			-o-linear-gradient(left bottom, #FF7088 50%, #F2B69D 100%);
	background-image: url('http://html5up.net/uploads/demos/telephasic/css/images/header.svg'),
			-moz-linear-gradient(left bottom, #FF7088 50%, #F2B69D 100%);
	background-image: url('http://html5up.net/uploads/demos/telephasic/css/images/header.svg'),
			-webkit-linear-gradient(left bottom, #FF7088 50%, #F2B69D 100%);
	background-image: url('http://html5up.net/uploads/demos/telephasic/css/images/header.svg'),
			-ms-linear-gradient(left bottom, #FF7088 50%, #F2B69D 100%);
	background-image: url('http://html5up.net/uploads/demos/telephasic/css/images/header.svg'),
			linear-gradient(to left bottom, #FF7088 50%, #F2B69D 100%);
	background-image: url('http://html5up.net/uploads/demos/telephasic/css/images/header.svg'),
		linear-gradient(
			75deg,
			#FF7088 15%,
			#F2B69D 55%
		)
	;
}
.split{
	cursor:pointer;
}
#submit{
	position: relative;
	top: -23px;
	display: block;
	vertical-align:middle;
}
#header{
	position: relative;
	display: inline-block;
	width:100%;
}
#links {
	width:100%;
}
#block2{
}
